* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #292929;
  color: #eeeeee;
  font-family: sans-serif;
  font-size: 18px;
}

:root{
    --bg-1: #111111;
    --bg-2: #0c0c0c;
}

h1,
h2,
h4 {
  font-weight: 600;
  padding: 0.3em 0;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.7rem;
  text-align: center;
}
h4 {
  font-size: 1.1rem;
  color: #00ffff;
}
label,
p, li {
  font-size: 1em;
  padding: 5px 0px;
}
small {
  font-size: 0.7em;
  color: #888888;
  font-weight: normal;
}

a {
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5em;
  color: #00ffff;
  font-weight: 400;
}

a:hover {
  color: #ff0088;
  text-decoration: underline;
}

header {
  background-color: var(--bg-1);
  width: 90%;
  margin: 0px auto;
  text-align: center;
  align-items: center;
}

.about {
  display: block;
  text-align: left;
  padding: 1.5rem;
}

/* .about img{
    width: 12rem;
    height: 15rem;
    margin: auto;
} */

.text {
  padding: 2em;
  margin: auto;
}
.contact {
  display: grid;
  width: max-content;
}
.social-links {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #00ffff; */
}

.social-links a {
  text-decoration: none;
  color: #00ffff;
  font-size: 1.2rem;
  padding: 0;
}

.social-links a:hover {
  /* transform: translate(0, 5px);
    transition: all 0.5s; */
  color: #ff0088;
}

.skills,
.experience {
  width: 90%;
  margin: 0 auto;
  background-color: var(--bg-2);
  padding: 2em;
}

.skills-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.skill-1 {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

progress {
  background-color: #111111;
  border: 2px solid #111111;
  border-radius: 30px;
  width: 17rem;
  margin: 0.6em 0;
}
progress::-webkit-progress-bar {
  background-color: #111111;
  border: 2px solid #111111;
  border-radius: 30px;
  width: 17rem;
}
progress::-webkit-progress-value {
  background-color: #00ffff;
  border: 1px solid #111111;
  border-radius: 30px;
  width: 17rem;
}
progress::-moz-progress-bar {
  background-color: #111111;
  border: 2px solid #111111;
  border-radius: 30px;
  width: 17rem;
}

.edu,
.ref {
  width: 90%;
  margin: 0 auto;
  padding: 2em;
  background-color: var(--bg-1);
}

.edu-wrapper {
  display: flex;
  flex-direction: row;
}
.edu-wrapper h4 {
  padding: 1em;
  width: 50%;
}
.exp {
  padding: 2em;
}
.exp a {
  color: #00ffff;
  border-radius: 10px;
  border: 2px solid #00ffff;
  font-weight: bold;
}
.exp a:hover {
  color: #ff0088;
  text-decoration: underline;
}
.exp-details{
  background-color: #090909;
  /* background-color: var(--bg-2); */
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
}
.exp-details .hng{
  width: 8rem;
}
.education {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
}

.ref {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .header,
  .edu-wrapper,
  .about {
    flex-direction: column;
  }
  .social-links {
    width: 50%;
  }
  body {
    font-size: 16px;
  }
  .edu-wrapper h4,
  .exp-details {
    width: 100%;
  }.skills-wrapper {
    display: grid;
  }
}
