*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #161616;
    color: #eeeeee;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h4{
    font-weight: 600;
    padding: .3em 0;
    margin-bottom: .5em;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.7rem;
    text-align: center;
}
h4{
    font-size: 1rem;
    color: #00ffff;
}
label, p{
    font-size: 16px;
}
small{
    font-size: .7em;
    color: #888888;
    font-weight: normal;
}


a{
    text-decoration: none;
    font-size: .9em;
    padding: .5em;
    color: #00ffff;
    font-weight: 400;
}

a:hover{
    color: #ff0088;
    text-decoration: underline;
}

header{
    background-color: #0f0f0f;
    width: 80%;
    margin: 0px auto;
}

.about{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

/* .about img{
    /* border-radius: 50%; */
    width: 12rem;
    height: 15rem;
    margin: auto;
} */

.text{
    padding: 2em;
    margin: auto;
}

.social-links{
    width: 30%;
    /* padding: .5em; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #00ffff; */
}

.social-links a{
    text-decoration: none;
    color: #00ffff;
    font-size: 1.2rem;
    padding: 0;
}

.social-links a:hover{
    /* transform: translate(0, 5px);
    transition: all 0.5s; */
    color: #ff0088;
}

.skills, .edu{
    width: 80%;
    margin: 0 auto;
    background-color: #1f1f1f;
    padding: 2em;
}


.skills-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.skill-1{
    display: flex;
    flex-direction: column ;
    padding: 1em;
}

progress {
    background-color: #111111;
    border: 2px solid #111111;
    border-radius: 30px;
    width: 17rem;
    margin: .6em 0;
  }
  progress::-webkit-progress-bar {
    background-color: #111111;
    border: 2px solid #111111;
    border-radius: 30px;
    width: 17rem;
  }
  progress::-webkit-progress-value {
    background-color: #00ffff;
    border: 1px solid #111111;
    border-radius: 30px;
    width: 17rem;
  }
  progress::-moz-progress-bar {
    background-color: #111111;
    border: 2px solid #111111;
    border-radius: 30px;
    width: 17rem;
  }


.experience, .ref{
    width: 80%;
    margin: 0 auto;
    background-color: #0f0f0f;
    padding: 2em;
}

.exp-wrapper, .edu-wrapper{
    padding: 1em .5em;
    display: flex;
    flex-direction: row;
    
}
.edu-wrapper h4{
    padding: 1em;
    width: 30%;
}
.exp{
    padding: 2em;
}

.education{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ref{
    display: block;
    text-align: center;
}

@media screen  and (max-width:1000px){
    .header,  .edu-wrapper, .exp-wrapper, .ref, .about{
        flex-direction: column;
    }
    .social-links{
        width: 50%;
    }
    /* .about img{
        width: 15rem;
        height: 20rem;
        margin: auto;
    } */
    .skills-wrapper{
        position: relative;
        left: 0px;
    }
    .edu-wrapper h4{
        width: 100%;
}
}
@media screen  and (max-width:594px){
    .skills-wrapper{
        display: grid;
    }
}